*{
  margin: 0;
  padding: 0;
}

/*#dccf71e6*/
body{
  background-color: #e5dc9a;

  font: lighter 30px Times, sans-serif;

  line-height: 1.6em; /* Spacing between lines */
  margin: 0;
}

/*#b50005*/
header {
  width: 100%;
  background: #8f2427;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}


header .btn {
  position: absolute;
  z-index: 2;
  width: 150px;
  top: 0;
  left: 0;
  padding: 3px 5px;
  border: 2px black solid;
  margin: 10px;
  color: black;
  background-color: #e5dc9a;
}

header .btn:hover{
  background-color: #561517;
  color: white;
}

h1, h2{
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  color: white;
}

h2{
  padding: 1% 0;
}

.container{
  width: 90%;
  margin: 20px 5%;
  padding: 10px 20px;
  align-content: center;
  align-items: center;
  background-color: #e0daac;
  border: 1px black solid;
}

a{
  color: #8f2427;
  text-decoration: none
}

.container ul {
  margin: 0 1%;
}

.container li:hover {
  background-color: #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr, th {
  border: 1px black solid;
}

tr:hover {
  background-color: #ccc;
}

form {
  width: 95%;
  margin: 20px 10px;
  padding: 5px 10px;
  border: 1px black solid;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  display: inline-block;
}

label{
  font-size: 1.6rem;
  text-decoration: underline;
}

label.sub{
  font-size: 1.4rem;
  text-decoration: none;
}

input[type="text"], input[type="number"]{
  height: 1.3rem;
}

.side{
  display: flex;
}

.sideA{
  width: 15%;
}
.sideB{
  width: 50%;
}

.nome{
  width: 85%;
}

.formulario input{
  display: block;
  margin: 10px 0;
  padding: 10px 0;
  width: 100%;
  height: 20px;
}

.formulario input[type = "submit"]{
  height: 50px;
}

.select{

}
