<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Área de {{ nome }}</title>
  </head>
  <body>
    {% if message %}
      <script type="text/javascript">
        alert("{{ message }}")
      </script>
    {% endif %}
    <header>
      <div class="head">
        <h1>Olá {{ terapeuta.Nome }}!</h1>
        <h2>Selecione a ação:</h2>
        <a href="terapeuta?nome={{ terapeuta.Nome }}">
          <div class="btn">
            <h3>Voltar</h3>
          </div>
        </a>
      </div>
    </header>
    <div class="container">
      <div class="select action">
        Paciente: {{ paciente.Nome }}
        <ul>
          {% if paciente.Status == 'ANAMNESE' %}
            <a href="anamnese?id={{ paciente.Id }}&nome={{ terapeuta.Nome }}"><li>Escrever a anamnese</li></a>
          {% elif paciente.Status == 'ATENDIMENTO' %}
            <a href="escrever?id={{ paciente.Id }}&nome={{ terapeuta.Nome }}"><li>Escrever um prontuário</li></a>
            <a href="migrar?id={{ paciente.Id }}&nome={{ terapeuta.Nome }}"><li>Migrar o paciente</li></a>
          {% else %}
            <li>Esse paciente foi encerrado</li>
          {% endif %}
        </ul>

      </div>
    </div>
  </body>
</html>
