<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}?{% now "U" %}">
    <title>Área de {{ terapeuta.Nome }}</title>
  </head>
  <body>
    {% if message %}
      <script type="text/javascript">
        alert("{{ message }}")
      </script>
    {% endif %}
    <header>
      <div class="head">
        <h1>Olá {{ terapeuta.Nome }}!</h1>
        <h2>Fazendo anamnese</h2>
        <a href="acao?id={{ paciente.Id }}&nome={{ terapeuta.Nome }}">
          <div class="btn">
            <h3>Voltar</h3>
          </div>
        </a>
      </div>
    </header>
    <div class="container">
      <div class="select action">
        Paciente: {{ paciente.Nome }}
        <form class="anam" action="anamnese?id={{ paciente.Id }}&nome={{ terapeuta.Nome }}" method="post" id="form">{% csrf_token %}
          <div class="setor">
            <label>Identificação</label>
            <div class="">
              Nome do paciente <input type="text" class="nome" name="Nome do paciente" placeholder="Nome do paciente">
              Gênero
              <select name="sexo">
                <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
                <option value="outro">Outro/Prefiro não especificar</option>
              </select>
              Data de Nascimento <input type="date" name="Data de nascimento">
              <br>
              Nome do Pai <input type="text" class="nome" name="Nome do pai" placeholder="Nome do pai">
              Nascimento <input type="date" class="nasc" name="Data de nascimento do pai">
              Profissão <input type="text" name="Profissão do pai" placeholder="Profissão do pai">
              Escolaridade <input type="text" name="Escolaridade do pai" placeholder="Escolaridade do pai">
              <br>
              Nome da Mãe<input type="text" class="nome" name="Nome da mãe" placeholder="Nome da mãe">
              Nascimento <input type="date" class="nasc" name="Data de nascimento da mae">
              Profissão <input type="text" name="Profissão da mãe" placeholder="Profissão da mãe">
              Escolaridade <input type="text" name="Escolaridade da mãe" placeholder="Escolaridade da mãe">
            </div>
          </div>

          <!-- GENOGRAMA -->

          <div class="setor gravidez">
            <label>Gravidez</label>
            <div class="side">
              <div class="sideA">
                <input type="radio" name="Gravidez" value="Planejada">planejada <br>
                <input type="radio" name="Gravidez" value="Não planejada">não planejada
              </div>
              <textarea class="sideB" name="Observações da gravidez" rows="3" cols="80" placeholder="Obs:"></textarea>
            </div>
          </div>

          <div class="setor gravidez">
            <label>Gestação</label>
            <div class="radio_pick">
              Pré-natal
              <input type="radio" name="Pré-natal" value="Sim">Sim
              <input type="radio" name="Pré-natal" value="Não">Não
            </div>
            <div class="radio_pick">
              Radiografias
              <input type="radio" name="Radiografias" value="Sim">Sim
              <input type="radio" name="Radiografias" value="Não">Não
            </div>
            <div class="radio_pick">
              Ultra-sonografias
              <input type="radio" name="Ultra-sonografias" value="Sim">Sim
              <input type="radio" name="Ultra-sonografias" value="Não">Não
            </div>
            <div class="radio_pick">
              Doenças
              <input type="radio" name="Doenças" value="Sim">Sim
              <input type="radio" name="Doenças" value="Não">Não
            </div>
            <textarea name="Quais doenças" rows="2" cols="80" form="form" placeholder="Quais?"></textarea>
          </div>

          <div class="setor gravidez">
            <label>Condições de Nascimento</label>
            <div class="radio_pick">
              <input type="radio" name="Parto" value="normal">parto normal
              <input type="radio" name="Parto" value="cesariana">cesariana
            </div>
            <div class="radio_pick">
              <input type="radio" name="Tempo de nascimento" value="prematuro">prematuro
              <input type="radio" name="Tempo de nascimento" value="normal">tempo normal
              <input type="radio" name="Tempo de nascimento" value="pós-maturo">pós-maturo
            </div>
            Outro <input type="text" name="Condições de gravidez - Outro" placeholder="Outro">
          </div>

          <div class="setor gravidez">
            <label>Primeiras Reações</label>
            <div>
              <input type="checkbox" name="chorou" value="sim">chorou
              <input type="checkbox" name="roxo" value="sim">ficou roxo
            </div>
            Outra, qual?   <input type="text" name="Primeiras Reações - Outra" placeholder="Outra">
          </div>

          <div class="setor gravidez">
            <label>Desenvolvimento</label>
            <ul>
              <div>
                <label class="sub">Sono</label>
                <div>
                  <input type="checkbox" name="bem" value="sim">dorme bem
                  <br>
                  <input type="checkbox" name="grita" value="sim">grita enquanto dorme
                  <br>
                  <input type="checkbox" name="fala" value="sim">fala enquanto dorme
                  <br>
                  <input type="checkbox" name="sozinho" value="sim">dorme sozinho(a)
                  <br>
                  <input type="checkbox" name="acorda" value="sim">acorda com frequência à noite
                  <br>
                  <input type="checkbox" name="pesadelos" value="sim">pesadelos frequentes
                </div>
                OBS:   <br><textarea name="Observações do sono" rows="3" cols="80"></textarea>
              </div>
              <div>
                <label class="sub">Alimentação</label>
                <div>
                  Mamou até que idade? <input type="text" name="Mamou até que idade"><br>
                  Que outra alimentação era fornecida? <input class="sideB" type="text" name="Que outra alimentação era fornecida"><br>
                  Bico e/ou chupeta até que idade? <input type="text" name="Bico e/ou chupeta até que idade">
                </div>
              </div>
              <div>
                <label class="sub">Motricidade</label>
                <div>
                  Falou... <input class="sideB" type="text" name="Falou"><br>
                  Engatinhou... <input class="sideB" type="text" name="Engatinhou"><br>
                  Andou... <input class="sideB" type="text" name="Andou"><br>
                  Gaguejou... <input class="sideB" type="text" name="Gaguejou">
                </div>
              </div>
              <div>
                <label class="sub">Manipulação</label>
                <div>
                  Chupou dedo até quando? <input type="text" name="Chupou dedo até quando"><br>
                  Roeu unhas até quando? <input type="text" name="Roeu unhas até quando"><br>
                  Tem algum hábito ou mania? Qual e desde quando? <input class="sideB" type="text" name="Tem algum hábito ou mania">
                </div>
              </div>
            </ul>
          </div>

          <div class="setor">
            <label>Escolaridade</label>
            <div>
              Estuda desde que idade? <input type="text" name="Estuda desde que idade"><br>
              Alguma dificuldade na escola? (atividades e relacionamentos)?
              <br><textarea name="Alguma dificuldade na escola" rows="2" cols="80"></textarea><br>
              Fora de casa estuda com quem?
              <br><textarea name="Fora de casa estuda com quem" rows="2" cols="80"></textarea>
            </div>
          </div>

          <div class="setor">
            <label>Sociabilidade</label>
            <div class="side">
              <div class="sideA">
                <input type="checkbox" name="tem amigos" value="s">tem amigos <br>
                <input type="checkbox" name="faz amigos com facilidade" value="s">faz amigos com facilidade
              </div>
              <textarea name="Observações de Sociabilidade" rows="3" cols="80"></textarea>
            </div>
          </div>

          <div class="setor">
            <label>Características</label>
            <div>
              Medroso(a)
              <select name="Medroso(a)">
                <option value="sim">Sim</option>
                <option value="não">Não</option>
                <option value="às vezes">às vezes</option>
              </select>
            </div>
            <div>
              Mentiroso(a)
              <select name="Mentiroso(a)">
                <option value="sim">Sim</option>
                <option value="não">Não</option>
                <option value="às vezes">às vezes</option>
              </select>
            </div>
            <div>
              Obediente
              <select name="Obediente">
                <option value="sim">Sim</option>
                <option value="não">Não</option>
                <option value="às vezes">às vezes</option>
              </select>
            </div>
            <div>
              Tímido(a)
              <select name="Tímido(a)">
                <option value="sim">Sim</option>
                <option value="não">Não</option>
                <option value="às vezes">às vezes</option>
              </select>
            </div>
            <div>
              Corajoso(a)
              <select name="corajoso">
                <option value="sim">Sim</option>
                <option value="não">Não</option>
                <option value="às vezes">às vezes</option>
              </select>
            </div>
            <div>
              Seguro(a)
              <select name="Seguro(a)">
                <option value="sim">Sim</option>
                <option value="não">Não</option>
                <option value="às vezes">às vezes</option>
              </select>
            </div>
            <div>
              Preguiçoso(a)
              <select name="Preguiçoso(a)">
                <option value="sim">Sim</option>
                <option value="não">Não</option>
                <option value="às vezes">às vezes</option>
              </select>
            </div>
            Outras características<br><textarea name="Outras características" rows="3" cols="80"></textarea>
          </div>

          <div class="setor">
            <label>Independência</label>
            <div>
              <input type="checkbox" name="Veste-se sozinho(a)" value="sim">Veste-se sozinho(a)
              <br><input type="checkbox" name="Alimenta-se sozinho(a)" value="sim">Alimenta-se sozinho(a)
              <br><input type="checkbox" name="Toma banho sozinho(a)" value="sim">Toma banho sozinho(a)
              <br><input type="checkbox" name="Todos os dias" value="sim">Todos os dias
              <br><input type="checkbox" name="Realiza tarefas que lhe pedem" value="sim">Realiza tarefas que lhe pedem
              <br><input type="checkbox" name="Convive com adultos" value="sim">Convive com adultos? Quem são? <input class="sideB" type="text" name="Quem são">
              <br><input type="checkbox" name="Manifestações sexuais" value="sim">Manifestações sexuais? <input  class="sideB" type="text" name="manifestacoes">
            </div>
          </div>

          <div class="setor">
            <label>Características dos Pais</label>
            <div>
              Mãe <br>
              <input type="checkbox" name="Mãe calma" value="sim">calma
              <input type="checkbox" name="Mãe ansiosa" value="sim">ansiosa
            </div>
            <div>
              Pai <br>
              <input type="checkbox" name="Pai calmo" value="sim">calmo
              <input type="checkbox" name="Pai ansioso" value="sim">ansioso
            </div>
            <div>
              Atitude diante de um comportamento "negativo" da criança.
              <br><textarea name="Atitude diante de um comportamento negativo da criança" rows="5" cols="80"></textarea>
            </div>
          </div>
          <div>
            Quais são as pessoas mais diretamente ligadas a educação da criança?
            <br><textarea name="  Quais são as pessoas mais diretamente ligadas a educação da criança" rows="5" cols="80"></textarea>
          </div>
          <div>
            Como é o relacionamento com cada membro da família?
            <br><textarea name="Como é o relacionamento com cada membro da família" rows="7" cols="80"></textarea>
          </div>

          <div class="setor">
            <label>Observações do aluno terapeuta</label>
            <div>
              <textarea name="Observações do aluno terapeuta" rows="10" cols="100"></textarea>
            </div>
          </div>

          Florianópolis, <input type="date" name="Florianópolis, "><br>
          Senha do profissional <input type="password" name="senha" placeholder="Digite sua senha">
          <input type="submit" value="FINALIZAR ANAMNESE">
        </form>

      </div>
    </div>
  </body>
</html>
