<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Área de {{ terapeuta.Nome }}</title>
  </head>
  <body>
    {% if message %}
      <script type="text/javascript">
        alert("{{ message }}")
      </script>
    {% endif %}
    <header>
      <div class="head">
        <h1>Olá {{ terapeuta.Nome }}!</h1>
        <h2>Fazendo prontuário</h2>
        <a href="acao?id={{ paciente.Id }}&nome={{ terapeuta.Nome }}">
          <div class="btn">
            <h3>Voltar</h3>
          </div>
        </a>
      </div>
    </header>
    <div class="container">
      <div class="select action">
        Paciente: {{ paciente.Nome }}
        <form class="formulario" action="escrever?id={{ paciente.Id }}&nome={{ terapeuta.Nome }}" method="post" id="form">{% csrf_token %}
          <input type="date" name="data">
          <textarea name="texto" rows="8" cols="80" form="form" placeholder="Escreva o prontuário..."></textarea>
          <input type="submit" name="Adicionar prontuário">
        </form>

      </div>
    </div>
  </body>
</html>
